.crousel-box{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.trending-products{
    color: rgb(88, 86, 86);
    text-align: center;
    margin-top: 4rem;
}
#product-card{
    width: 20%;
    height: 18rem;
}
.footer{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    height: 8rem;
    text-align: center;
}

.social-media {
    margin: 1rem;
}
.social-media a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.social-media a:hover {
    color: rgb(119, 115, 115);
}
#login-card{
    margin: 0 auto;
    margin-top: 10rem;
    width: 25%;
    color: rgb(104, 99, 99);
    box-shadow: 0px 1px 1px rgb(134, 134, 134);
    
}
.login-head{
    padding: 10px;
    margin-top:2rem ;
    text-align: center;
    font-family: sans-serif;
}
#username{
    width: 95%;
    height: 2rem;
}
#password{
    width: 95%;
    height: 2rem;
}
#login-btn{
    width: 95%;
    height: 2rem;
    margin-bottom: 3rem;
}